html,body { /* Requirement-2.B */
  background-color: white; /* Requirement-2.4 */
  margin: 0%;
  border: none; /* Requirement-2.5 */
  overflow-x: hidden; /* Requirement-2.14 */
  scroll-behavior: smooth;
  font-family:area-normal; /* Requirement-2.1 */

}

.disable-y {
  overflow-y:hidden;
}


/* Main layout for index page */

nav ul.nav-bar, .logo-bar {
  display: flex; /* Requirement-2.12 */
  list-style: none;
  text-decoration: none;
  justify-content: center;
  gap: 15%;
  align-items: center;
}

.logo { /* Requirement-2.C */
  width:100px; /* Requirement-2.9 */
  margin-right:60px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Requirement-2.7 */
  justify-content: center;
  list-style: none; /* Requirement-2.8 */
  text-decoration: none;
  margin-top:100px;
}

.container a img {  
  vertical-align: middle;
  width:100%;
  max-height:100%;

} 

.container p {
  position: absolute; /* Requirement-2.15 */
  color:white; /* Requirement-2.3 */
  font-size:1000%; /* Requirement-2.10 */
  margin-left: 90px;
  font-family:kepler-3-display-variable;
  z-index:1; /* Requirement-2.17 */
  margin-top:100px; /* Requirement-2.6 */
  

}

.container .landscape-text {
  margin-bottom: 106%;
}



.container .portraits-text {
  margin-top:11%;
}

.container .photoshop-text {
  margin-top: 111%;
}

.container img, .image-section img { 
  transition: 0.3s;
}

.container img:hover, .image-section img:hover { /* Requirement-2.E */
  filter:brightness(50%);
  z-index:0;
}  

header { /* Requirement-2.A */
  background-color:white;
  position:fixed;
  width: 100%;
  z-index:2;
}



footer {
  margin-top: 10%;
  text-align: center; /* Requirement-2.2 */
  clear:left; /* Requirement-2.13 */
}

hr {
  border-style: solid;
  width: 100%;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;

}

a:active {
  text-decoration: none;
  color:black;
}

li a {
  color:gray;
}


/* about-me page */

#about-container img { /* Requirement-2.F */
  width:225px;
  max-width:400px;
  max-height:600px;

}

.about-text {
  text-align: center;
  transform:rotate(-270deg);
  font-size:20px;
}




.introduction-text,.life-text,.tools {
  font-size:25px;
}

.hori {
  width: 1100px;
  height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  transform:rotate(-90deg) translateY(20%);
}




#about-container {
  margin-top:20%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  gap:600px;  

  
}



.landscape-container .image-section, .portraits-container .image-section,.photoshop-container .image-section {
  display:flex;
  flex-direction: row;
  gap:20px;
  flex-wrap:wrap;
  justify-content: center;
}

/* gap between each image section */
.portraits-container .image-section, .landscape-container .image-section, .photoshop-container .image-section {
  margin-top:20%;
}

.portraits-container img, .landscape-container img, .photoshop-container img {
  width:500px;
  max-height:700px;
}

/* .image-section img:active {
  width: 1000px;
  border-style: dotted;
  cursor: pointer;
} */


details { 
  color:red;
  font-weight:bold;
}

summary { 
  color:#bebdbd;
}